// Colours
@text: #222;
@orange: #f90;
@blue: #ace;
@nav-back: rgba(0, 0, 0, 0.5);
@light-gray: #eee;
@dark-gray: #333;

// Dimensions
@base-font: 16px;
@intermediate: 480;
@wide: 768;
@maximal: 1140;
@right-nav: 3em;
@top-nav: 4em;

// Mixins
.inset (@bg) {
    text-shadow: 1px 1px 0 @bg;
}
.box-shadow (@shadow...) {
    -webkit-box-shadow: @shadow; 
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}
.rotate (@angle) {
    display: block;
    position: relative;
    -moz-transform: rotate(@angle);  /* FF3.5/3.6 */
    -o-transform: rotate(@angle);  /* Opera 10.5 */
    -webkit-transform: rotate(@angle);  /* Saf3.1+ */
    transform: rotate(@angle);  /* Newer browsers (incl IE9) */
}
.vgradient (@g1c, @g2c, @g2p, @g3c, @g3p, @g4c) {
    background-image: linear-gradient(bottom, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -o-linear-gradient(bottom, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -moz-linear-gradient(bottom, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -webkit-linear-gradient(bottom, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -ms-linear-gradient(bottom, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, @g1c),
        color-stop(@g2p, @g2c),
        color-stop(@g3p, @g3c),
        color-stop(0, @g4c)
    );
}
.hgradient (@g1c, @g2c, @g2p, @g3c, @g3p, @g4c) {
    background-image: linear-gradient(right, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -o-linear-gradient(right, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -moz-linear-gradient(right, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -webkit-linear-gradient(right, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);
    background-image: -ms-linear-gradient(right, @g1c 100%, @g2c @g2p, @g3c @g3p, @g4c 0);

    background-image: -webkit-gradient(
        linear,
        right bottom,
        left bottom,
        color-stop(1, @g1c),
        color-stop(@g2p, @g2c),
        color-stop(@g3p, @g3c),
        color-stop(0, @g4c)
    );
}
.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.transition (@trans...) {
    -webkit-transition: @trans;
    -moz-transition: @trans;
    -o-transition: @trans;
    transition: @trans;
}


/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: @text;
}

body {
    font-size: @base-font;
    line-height: 1.4;
    background: @orange url('/static/img/head-grid.svg');
}

::selection,
::-moz-selection {
    background: @orange;
    color: @text;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

h1, h2, h3 {
    font-family: 'Anaheim', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: lighten(@orange, 20%);
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ==============
    MOBILE: Header/Menu
   ============== */

header {
    border-bottom: 0.3em solid lighten(@orange, 25%);

    hgroup {
        padding: 1em 0.5em 1em;
        //background: url('/static/img/ewb-bulb.svg') 50% top no-repeat;
    }
    img {
        display:block;
        margin: 0 auto 2rem;
    }
    h1 {
        text-align: center;
        margin: 1em 0.1em 0.5em;
        line-height: 1.2em;
        color: white;
    }
    h2 {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 3em;
    }
}



nav {
    ul {
        margin: 0;
        padding: 0;
    }

    .top {
        display: none;
    }

    a {
        display: block;
        margin-bottom: 0.25em;
        padding: 0.5em 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
        border-top: 0.1em solid lighten(@orange, 25%);

        &:hover,
        &:visited {
            color: white;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

/* ==============
    MOBILE: Main
   ============== */

.container {
    padding: 1em;

    h1 {
        font-size: 2em;
        text-align: center;
    }

    img {
        .border-box;
        border: 0.3em solid white;
        border-radius: 0.3em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
        width: 100%;
    }
}

#who-we-are {
    padding-bottom: 2em;
    background: @light-gray;
    border-bottom: 2px solid fade(darken(@light-gray, 20%), 50%);
}

#what-we-do {
    background: white url('/static/img/head-grid-dark.svg');
    //background: @dark-gray url('http://philipschleihauf.ca/Hotlinked/2012/canvas/thanks/thanks.png');
    //color: white;
    border-bottom: 0.2em dotted @blue;
}

#events {
    background: @blue;
    border-top: 0.2em dotted white;
    border-bottom: 0.2em dotted #333;
    h1 {
        margin: 1em 0 2em;
    }
}

#budget {
    color: white;
    border-top: 0.2em dotted @blue;
    background: @dark-gray url('/static/img/blackness.png');
    border-bottom: 0.2em solid #777;

    #pie-container {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        #pie {
            width: 240px;
            height: 240px;
            margin: 0 auto;
        }
    }
    #prospects {
        #prospects-options {
            background: rgba(64, 64, 64, 0.667);
        }
        ul {
            margin: 0 0 0.5rem;
            padding: 0 0.5rem 0.5rem 0;
            position: relative;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-width: 0 1px 1px 0;
            h3 {
                display: block;
                margin: 0;
                padding: 0.1rem 0.333rem 0;
                font-weight: normal;
                font-size: 0.8rem;
                line-height: 0.8rem;
                position: absolute;
                bottom: -0.5rem;
                right: 1rem;
                background: black;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
            }
            &> li {
                font-size: 0.9rem;
                margin: 0 0 0 1em;
                list-style-type: square;
                &:first-child {
                    margin-top: 0.5rem;
                }
            }
        }
        ul.prospect {
            border-radius: 0 0 3px;
            &> h3 {
                border-radius: 3px;
            }
            &.Bronze {
                border-color: #641;
                &> h3 { background: #641; }
            }
            &.Silver {
                border-color: #777;
                &> h3 { background: #777; }
            }
            &.Gold {
                border-color: #652;
                &> h3 { background: #652; }
            }
            &.Platinum {
                border-color: #444;
                &> h3 { background: #444; }
            }
        }
    }
}
.js #chart-fallback {
    // FIXME: add styles for no js
    display: none;
}


#contact {
    color: white;
    background: @dark-gray + #333 url('/static/img/head-grid.svg');
    .box-shadow(inset 0 1em 3em -1em rgba(0, 0, 0, 0.4));
}

.slider,
.slider li {
    padding: 0;
    list-style-type: none;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.no-js .slider {
    h2 {
        margin: 1.5em 0 0.5em;
    }
}
.js .slider {
    li {
        background: fade(@dark-gray, 20%);
        border-bottom: 1px solid fade(@light-gray, 50%);
    }
    h2 {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.1rem;
        text-align: center;
        color: white;
        background: fade(@dark-gray, 60%);
    }
    a {
        display: block;
        padding: 0.5em 0 0.4em;
    }
    article {
        padding: 0 1em;
        max-height: 0;
        overflow: hidden;
        .transition(max-height 0.4s ease);
    }
    .show article {
        max-height: 120em;
        .transition(max-height 1s ease-in);
    }
}


.simple {
    border: 0;
    padding: 0;
    list-style-type: none;
    h2 {
        clear: both;
        a {
            color: @dark-gray;
            text-decoration: none;
        }
    }
    li {
        border: 0;
        padding: 0;
    }
    img {
        width: 100%;
    }
    .odd img {
        float: left;
        margin: 0 1em 1em 0;
    }
    .even img {
        float: right;
        margin: 0 0 1em 1em;
    }
    .clearfix {
        display: block;
        margin: 0 0 4rem;
        width: 100%;
        padding-top: 1rem;
        border-bottom: 0.2em dotted white;
        clear: both;
    }
    li:last-child .clearfix {
        border: 0;
    }
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 h1,
.ie7 h2,
.ie7 h3 {
    padding-top: 20px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: ~"@{intermediate}px") {

/* ====================
    INTERMEDIATE
   ==================== */
    header {
        h1 {
            color: white;
            .inset(darken(@orange, 20%));
        }
        h2 {
            text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.667);
        }
        border-bottom: 0;
    }
    hgroup {
        padding: 5em 1em 4em;
    }
    nav {
        position: relative;
        z-index: 1000;
        width: 100%;
        height: @top-nav;
        line-height: @top-nav;
        background: @nav-back;
        border-bottom: 0.3em solid darken(@orange, 36%);

        &.stick-top {
            position: fixed;
            top: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);
            border-bottom: 0.2em solid rgba(0, 0, 0, 0.9);
        }

        a {
            margin: 0;
            padding: 0;
            display: block;
            width: 20%;
            float: left;
            border: none;
            &:hover,
            &.current {
                background: @nav-back;
                .transition(background 0.3s ease);
            }
            &:hover {
                text-shadow: 0 0 0.667em black;
            }
        }
        li:first-child a {
            width:8%;
        }

    }

    .container {
        padding: 1em;

        h1 {
            margin: 5rem 0 2em;
        }
        p {
            padding: 0;
        }
    }

    #who-we-are {
        padding-bottom: 4em;
        p {
            margin: 0;
            display: block;
            float:left;
            width:48%;
            margin-right:4%;
        }
        img {
            width: 48%;
        }
    }

    #what-we-do {
        .slider {
            margin: 2rem 0;
        }
        li {
            background-position: 50% top;
            background-size: cover;
            color: #fff;
            article {
                padding: 0;
            }
            p {
                display: block;
                margin: 0;
                padding: 1em;
                background: fade(@dark-gray, 36%);
            }
        }
        #member-learning {
            background-image: url('/static/img/ml.jpg');
            &.show p {
                min-height: 24rem;
            }
            p {
                margin-left: 50%;
            }
        }
        #political-advocacy {
            background-image: url('/static/img/hsu.jpg');
            p {
                margin-top: 18rem;
            }
        }
        #qgic {
            background-image: url('/static/img/qgic.jpg');
            &.show p {
                min-height: 24rem;
            }
            p {
                margin-right: 50%;
            }
        }
    }

    #events h1 {
        margin-top: 5rem;
    }
    .simple {
        h2 {
            text-align: center;
        }
        .odd h2 {
            margin-right: 51%;
        }
        .even h2 {
            margin-left: 51%;
        }
        img {
            width: 48%;
        }
    }
}

@media only screen and (min-width: ~"@{wide}px") {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    header {
        padding: 0; //@right-nav+1em 2em 1em;
        .box-shadow(inset 0 1em 4em -1em rgba(255, 255, 255, 0.4));

        hgroup {
            padding: 3em 0 2em;
            margin-right: @right-nav;
            box-shadow: inset 0 -3em 3em -3em rgba(0, 0, 0, 0.3);
        }
        img {
            margin-bottom: 4rem;
        }
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: @right-nav;


        .top {
            display: block;
        }

        a {
            display: block;
            position: absolute;
            right: 0;
            height: 18%;
            width: @right-nav;
            border: none;
            overflow: hidden;
        }
        li {
            &:nth-child(1) a {
                top: 1%;
                height: 8%;
                width: 3em;
            }
            &:nth-child(2) a {top: 9%;}
            &:nth-child(3) a {top: 27%;}
            &:nth-child(4) a {top: 45%;}
            &:nth-child(5) a {top: 63%;}
            &:nth-child(6) a {top: 81%;}
        }
        .middler {
            position:absolute;
            display:block;
            top: 50%;
            left: 50%;
            height: @right-nav;
            line-height: @right-nav;
            margin-top: -@right-nav / 2;
            width: 32em;
            margin-left: -32em / 2;
            text-align: center;
        }
        .rotator {
            .rotate(90deg);
        }
    }

    .container {
        padding: 1em @right-nav+1em 1em 1em;

        h1 {
            margin: 2em 0;
        }
    }

    #who-we-are {
        padding-bottom: 0.2em;
        border-top: 2px solid white;
        box-shadow: inset 0 0.5em 0.5em -0.5em rgba(0, 0, 0, 0.1);
        border-bottom: 0; //-color: white;

        .container {
            padding-bottom: 0;
        }

        p {
            width: 100%;
        }
        img {
            display:none;
        }
        
        .clearfix {
            margin-top: 7em;
            display: block;
            width: 100%;
            height: 27em;
            background: url('/static/img/us.jpg') 50% top;
            background-size: cover;
        }
    }

    #what-we-do {
        box-shadow: inset 0 2em 2em -2em rgba(0, 0, 0, 0.5);
    }

    .simple {
        .even h2,
        .odd h2 {
            margin-left: 0;
            margin-right: 0;
        }
        img {
            width: 33.3%;
        }
    }

}

@media only screen and (min-width: ~"@{maximal}px") {

/* ===============
    Maximal Width
   =============== */
    
    .container {
        width: @maximal + 0px - (@base-font * 5);
        margin: 0 auto;
        padding: 1em @right-nav 0 0;
    }
}


/* ==================
    JavaScript Stuff
   ================== */

.js {
    &::-webkit-scrollbar {
        display: none;
    }
    /*
    #scrollbar {
        height: 9%;
        width: 3em;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        .hgradient (#484848, #434343, 0.333, #383838, 0.667, #303030);
        opacity: 0.4;
    }
    */
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
