// Colours
@text: #222;
@orange: #f60;
@nav-back: rgba(0, 0, 0, 0.5);

// Dimensions
@right-nav: 3em;
@top-nav: 4em;

// Mixins
.inset (@fg, @bg) {
    color: @fg;
    text-shadow: 1px 1px 0 @bg;
}
.rotate (@angle) {
    display: block;
    position: relative;
    -moz-transform: rotate(@angle);  /* FF3.5/3.6 */
    -o-transform: rotate(@angle);  /* Opera 10.5 */
    -webkit-transform: rotate(@angle);  /* Saf3.1+ */
    transform: rotate(@angle);  /* Newer browsers (incl IE9) */
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: @text;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::selection,
::-moz-selection {
    background: @orange;
    color: @text;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

h1, h2, h3 {
    font-family: 'Anaheim', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: @orange;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ==============
    MOBILE: Header/Menu
   ============== */

header {
    padding: 1em 0 0;
    background: @orange;

    h1 {
        text-align: center;
        .inset(#fff, @text);
        margin: 1em 0.1em 0.5em;
        line-height: 1.2em;
    }
    h2 {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 3em;
    }
}



nav {
    ul {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        margin-bottom: 0.25em;
        padding: 0.5em 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
        border-top: 0.1em solid white;

        &:hover,
        &:visited {
            color: white;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

/* ==============
    MOBILE: Main
   ============== */

section {
    padding: 1em;

    h1 {
        font-size: 2em;
    }
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 h1,
.ie7 h2,
.ie7 h3 {
    padding-top: 20px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE
   ==================== */
    h1 {
        margin-top: 2em;
    }
    header {
        padding: 6em 1em 2em;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: @top-nav;
        line-height: @top-nav;
        background: @nav-back;

        a {
            margin: 0;
            padding: 0;
            display: block;
            width: 20%;
            float: left;
            border: none;
        }

    }


}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    header {
        padding: 2em @right-nav+1em 0.5em 1em;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: @right-nav;

        a {
            display: block;
            position: absolute;
            right: 0;
            height: 20%;
            width: @right-nav;
            border: none;
            overflow: hidden;
            &:hover {
                background: @nav-back;
            }
        }
        li {
            &:nth-child(1) a {top: 0;}
            &:nth-child(2) a {top: 20%;}
            &:nth-child(3) a {top: 40%;}
            &:nth-child(4) a {top: 60%;}
            &:nth-child(5) a {top: 80%;}
        }
        .middler {
            position:absolute;
            display:block;
            top: 50%;
            left: 50%;
            height: @right-nav;
            line-height: @right-nav;
            margin-top: -@right-nav / 2;
            width: 32em;
            margin-left: -32em / 2;
            text-align: center;
        }
        .rotator {
            .rotate(90deg);
        }
    }

    section {
        padding: 1em @right-nav+1em 1em 1em;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
