<div id="pie-container">
    <div id="pie">
    	{% if section.data %}
	    	<ul id="chart-fallback">
	    		{% for datum in section.data %}
	    			<li id="{{ datum.slug }}">
	    				<span class="program-name">{{ datum.program }}</span>
	    				: $
	    				<span class="program-cost">{{ datum.cost }}</span>
	    			</li>
	    		{% endfor %}
	    	</ul>
    	{% else %}
    		<p>hmm... missing data...</p>
    	{% endif %}
    </div>
</div>

<div id="prospects">
    <h2 id="{{ section.prospects.slug }}">{{ section.prospects.title }}</h2>
    <p>{{ section.prospects.content }}</p>
    <div id="prospects-options">
        {% for prospect in section.prospects.options reversed %}
            <ul class="prospect {{ prospect.class }}">
        {% endfor %}
        {% for prospect in section.prospects.options %}
                <h3>${{ prospect.minimum }} -- {{ prospect.class }}</h3>
                {% for perk in prospect.perks %}
                    <li>{{ perk }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
</div>
