<div id="pie-container">
    <div id="pie">
    	{% if section.data %}
	    	<ul id="chart-fallback">
	    		{% for datum in section.data %}
	    			<li id="{{ datum.slug }}">
	    				<span class="program-name">{{ datum.program }}</span>
	    				: $
	    				<span class="program-cost">{{ datum.cost }}</span>
	    			</li>
	    		{% endfor %}
	    	</ul>
    	{% else %}
    		<p>hmm... missing data...</p>
    	{% endif %}
    </div>
</div>

<h2 id="{{ section.prospects.slug }}">{{ section.prospects.title }}</h2>
<p>{{ section.prospects.content }}</p>
