
<form id="contact-form" action="/contact" method="post">
    <label for="email">Your mail address</label>
    <input id="contact-email" name="email" type="email" placeholder="you@emailservice.com" />
    <label for="ccme">Send me a copy</label>
    <input id="contact-cc" name="ccme" type="checkbox" />
    <textarea id="contact-message" name="message">
    </textarea>
    <button id="contact-send" name="send" type="submit">Send</button>
</form>
<section id="social">
    <h3>Social Media</h3>
    <ul>
        <li>
            <a href="https://www.facebook.com/QueensEWB">facebook</a>
        </li>
        <li>
            <a href="https://twitter.com/QueensEWB">twitter</a>
        </li>
        <li>
            <a href="http://www.youtube.com/user/EWBQueens">youtube</a>
        </li>
    </ul>
    <p>also... <a href="http://queensu.ewb.ca/">chapter website</a></p>
</section>