
<form id="contact-form" action="/" method="post">{% csrf_token %}
    <h3>Send us a Message</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message|safe }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="form-input">
        <span class="iblock from">
            <label class="text to">To</label>
            <span class="fixed-input"><a href="mailto:queensu@ewb.ca">queensu@ewb.ca</a></span>
        </span>
        <span class="iblock cc">
            <label for="ccme">Send me a copy</label>
            <input id="contact-cc" name="ccme" type="checkbox" />
        </span>
    </div>
    <div class="form-input email">
        <label for="email" class="text">From</label>
        <input id="contact-email" name="email" type="email" placeholder="you@emailservice.com" />
    </div>
    <div class="form-input message">
        <textarea id="contact-message" name="message"></textarea>
    </div>
    <div class="form-input submit">
        <button id="contact-send" name="send" type="submit">Send Message »</button>
    </div>
</form>

<section id="social">
    <h3>Social Media</h3>
    <ul>
        <li>
            <a href="https://www.facebook.com/QueensEWB">facebook</a>
        </li>
        <li>
            <a href="https://twitter.com/QueensEWB">twitter</a>
        </li>
        <li>
            <a href="http://www.youtube.com/user/EWBQueens">youtube</a>
        </li>
    </ul>
    <p>also... <a href="http://queensu.ewb.ca/">chapter website</a></p>
</section>
