<!doctype html>
<html>
    <head>
        <title>{{ meta.title }}</title>
    </head>
    <body>
        <header>
            <h1>{{ meta.title }}</h1>
            <h2>{{ meta.subtitle }}</h2>
        </header>
        <nav>
            <ul>
                {% for section in sections %}
                    <li>
                        <a href="#{{ section.slug }}">
                            <span class="middler">
                                <span class="centerer">
                                    <span class="rotator">
                                        {{ section.shortname }}
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% for section in sections %}
            <section id="{{ section.slug }}">
                <h1>{{ section.name }}</h1>
                <p>{{ section.content }}</p>
                {% if section.list %}
                    <ul class="{{ section.list.type }}">
                        {% for project in section.list.projects %}
                            <li>
                                <h2>{{ project.title }}</h2>
                                <p>{{ project.content }}</h2>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        {% endfor %}
    </body>
</html>